<h3>TODO List</h3>
<div class="input-group">
  <input class="form-control" (keyup.enter)="isEdit ? confirmTodo() : addTodo()" [(ngModel)]="newTodo">
  <div class="input-group-btn">
    <button class="btn btn-success" (click)="addTodo(newTodo)" *ngIf="!isEdit">
      Ajouter
    </button>
    <button class="btn btn-info" (click)="confirmTodo(newTodo)" *ngIf="isEdit">
      Modifier
    </button>
  </div>
</div>
<br/>
<ng-container *ngIf="todos$ | async as todos">
  <div *ngFor="let todo of todos; index as i">
    {{ todo.title }}
    <div class="btn-group pull-right">
      <button class="btn btn-info btn-xs" (click)="updateTodo(i, todo)">
        <span class="glyphicon glyphicon-edit"></span>
      </button>
      <button class="btn btn-danger btn-xs" (click)="deleteTodo(todo.id)">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </div>
    <br>
    <br>
  </div>
  <h3 *ngIf="!todos.length">
    Aucun TODO trouvé, veuillez en rajouter.
  </h3>
</ng-container>
